:root {
    /* --main-bg-color: rgb(217, 244, 189); */
    --main-bg-color: rgb(249, 249, 249);
    --pg-color: rgb(249, 249, 249);
    --text-color: rgb(59, 58, 58);
    /* --outline: rgb(211, 211, 142); */
    --outline: rgb(249, 249, 249);
    --link-light: blue;
    --link-dark: rgb(50, 0, 149);
    --folder: rgb(58, 58, 58);
    --title-color: black;

}

button {
    background: none;
    border: none;
    color: var(--link-light);
}


#swipe_info {
    display: none;
}

.md_file {
    background-color: var(--pg-color);
    width: 40em;
    padding: 1.2em;
    margin-top: 2em;
    margin-left: calc((100dvw - 48em + 24em) / 2);
    margin-right: calc((100dvw - 40em - 24em) / 2);
    border-right: 0.2em var(--outline) solid;
    border-bottom: 0.2em var(--outline) solid;
    /* min-height: 56em; */
    /* overflow-y:; */
    width: auto;
    /* height: 80%; */
}

.navigation {
    position: sticky;
    top: 0em;
    left: 0;
}

/* .navigation .md_file {
    position: absolute;
    top: 1em;
    min-height: 0;
    overflow: scroll;
    width: 24em;
    margin: 0;  
    height: calc( 100vh - 3em );
    padding: 0.3em;
    margin-top: -1.5em;
} */

.navigation .md_file {
    position: fixed;
    top: 0em;
    min-height: 0;
    overflow: scroll;
    width: 24em;
    margin: 0;
    height: 100%;
    padding: 0.3em;
    padding-top: 1em;
    border-right: 3px rgb(92, 92, 92) solid;
    /* margin-top: -1.5em; */
    margin-left: -1em;
    padding-left: 2em;
}

body {
    background-color: var(--main-bg-color);
    /* font-family: 'Fira Code', monospace; */
    font-size: calc(1vw + 0.1rem);
    font-family: 'JetBrains Mono', monospace;
    color: var(--text-color);
    overflow-x: hidden;
    scrollbar-color: black;
}

@media screen and (orientation:portrait) {
    body {
        overflow: hidden;
        width: 100dvw;
        display: flex;
        align-items: start;
        flex-direction: row;
        max-width: 100%;
    }
    
        #swipe_info {
        display: flex;
        position: fixed;
        bottom: 2em;
        left: 50vw;
        transform: translate(-50%,0%);
        z-index: 101;
        font-size: 4em;
        background-color: #6e6e6e37;
        padding: 1em;
        border-radius: 1em;
        border: none;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        
        
    }
    #slider {
        position: fixed;
        display: flex;
        flex-direction: row;
        top: 0;
        height: 100dvh;
        left: -100dvw;
        /* overflow: none; */
        width: 200dvw;
        overflow: hidden;
    }

    
    .md_file {
        position: relative;
        /* scroll-snap-align: middle; */
        display: flex;
        flex-direction: column;
        font-size: calc((1vw + 0.1rem) * 2);
        width: 80vw;
        min-width: 80vw;
        margin: 0;
        margin-left: 4em;
        padding-left: 0em;
        padding-right: 3em;
        overflow-y: scroll;
        overflow-x:none;
        max-height: 80dvh;
        height: 100dvh;
    }

    .navigation .md_file {
        overflow-y: scroll;
        scroll-snap-align: middle;
        position: relative;
        width: 99dvw;
        left: 0;
        top: 0;
        padding-left: 1em;
        border-right: none;
        animation: fadeInAnimation 1s linear forwards;
        display: none;
    }


}

.bird {
    display: none;
    position: sticky;
    /* opacity: 0; */
    top: calc( 100vh - 8em );
    left: calc( 100vw - 8em );
}