@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    /* --main-bg-color: rgb(217, 244, 189); */
        --main-bg-color: rgb(249, 249, 249);
    --pg-color: rgb(249, 249, 249);
    --text-color: rgb(59, 58, 58);
    /* --outline: rgb(211, 211, 142); */
    --outline: rgb(249, 249, 249);
    --link-light: blue;
    --link-dark:rgb(50, 0, 149);
    --folder: rgb(58, 58, 58);
    --title-color: black;
    --epic: 0;

}

.path {
    font-family: 'Fira Code', monospace;
    font-size: 1.3em;
    /* color: green !important; */
}

pre {
    max-width: 100%;
    overflow: scroll;
    background-color: #e0dddd;
    padding: 0.3em;
    padding-left: 0.3em;
}

code {
    color: black;
    font-family: 'Fira Code', monospace !important;
    
}




body {
    background-color: var(--main-bg-color);
        /* font-family: 'Fira Code', monospace; */
    font-size: calc(  1vw + 0.1rem );
    font-family: 'JetBrains Mono', monospace;
    color: var(--text-color);
    scrollbar-color: black;
    /* overflow: visible; */
    /* overflow-x: hidden; */
    overflow: hidden;
    width: 100dvw;

    /* overflow-y: scroll; */
}




::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f2f2f200;
}

::-webkit-scrollbar-track:hover {
    background: #f2f2f200;
}

::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    border-radius: 1px;
    border: 1px var(--pg-color) solid;
}

::-webkit-scrollbar-thumb:hover {
    background: #6E6E6E;
}

h1,h2,h3 {
    color: var(--title-color);
    width: fit-content;
}

.dark_mode {
    position: fixed;
    left: 1em;
    bottom: 1em;
    padding: 1em;
    background-color:#202124;
    border-radius: 2em;
}



.md_file {
    background-color: var(--pg-color);
    width: 40em;
    padding: 1.2em;
    margin-top: 2em;
    margin-left: calc( ( 100dvw - 48em + 24em ) / 2 );
    margin-right: calc((100dvw - 40em - 24em ) / 2);
    border-right: 0.2em var(--outline) solid;
    border-bottom: 0.2em var(--outline) solid;
    /* min-height: 56em; */
    /* overflow-y:; */
    width: auto;
    max-height: 100dvh;
    /* height: 80%; */
}
.navigation {
    position: sticky;
    top: 0em;
    left:0;
}

/* .navigation .md_file {
    position: absolute;
    top: 1em;
    min-height: 0;
    overflow: scroll;
    width: 24em;
    margin: 0;  
    height: calc( 100vh - 3em );
    padding: 0.3em;
    margin-top: -1.5em;
} */

.navigation .md_file {
    position: fixed;
    top: 0em;
    min-height: 0;
    overflow: scroll;
    width: 24em;
    margin: 0;
    height: 100%;
    padding: 0.3em;
    padding-top: 1em;
    border-right: 3px rgb(92, 92, 92) solid;
    /* margin-top: -1.5em; */
    margin-left: -1em;
    padding-left: 2em;
}

.horizontal {
    display: flex;
    gap: 0;
    flex-direction: row;
    padding: 0;
    margin: 0;
    font-size: 1em;
}
/* .new { */
    /* animation: scale_in .3s ease-out forwards; */
/* } */

@keyframes scale_in {
    from {
        height: 0;
    }to {
        height: 1em;
    }
}

p {
    padding: 0;
    margin: 0;
    width: fit-content;
    padding-left: 0.3em;
}



.folder {
    color: var(--folder);
}

button {
    font-family: 'JetBrains Mono', monospace;
}

h3 {
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
    color: var(--folder);
}

.link {
    color: var(--link-light);
    background-color: #6e6e6e00;
    border: none;
}



.folder, .link {
  cursor: pointer;
  user-select: none;
}

.link:hover {
    text-decoration: underline;
}

.ur-here {
    font-style: italic;
    color: var(--link-dark);
}

/* .open {
    pointer-events: none;
} */
/* 
@media (hover: none) {
    .open {
            pointer-events: all;
    }
} */

.open:hover::after {
    content: "...";
    /* pointer-events: all; */
}

.close:hover::after {
    content: " <";
    /* pointer-events: all; */
}


.folder:empty {
    display: none;
}

img[src^="https://github.com/ollielynas/md-website/actions/workflows/static.yml/badge.svg"] {
    border: none;
}
img[src^="https://img.shields.io"] {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 1.1em;
    width: auto;
    padding: 0;
    margin: 0;
    border: none;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#md_block > p {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    /* color: green; */
}

#md_block {
    margin-bottom: 4em;
}

/* CSS */

/* CSS */

button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;

}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}



.back-fwd-button {
    position: absolute;
    top: 1em;
    z-index: 100;
}

#swipe_info {
    display: none;
}

a {
    background-color: #282a3500;
}


#slider {
    overflow-y: scroll;
    overflow-x: none;
    height: 100dvh;
    width: 100dvw;
}

img {
    max-width: 40em;
}

#nav {
    margin-bottom: 2em !important;
    height: 95%;
}

.blocker {
    position: fixed;
    right: 0em;
    width: calc ( 100dvw - 24em );
    background-color: var(--pg-color);
    height: 100vw;
    display: none;
    pointer-events: none;
    /* animation: blockerSlide 1.2s linear forwards alternate; */
}

@keyframes blockerSlide {
    from {
        right: 0em;
    }
    to {
        right: calc ( - ( 100dvw - 24em) );
    }
}

@media screen and (orientation:portrait) {


    .blocker {
        display: none;
    }
    body {
        /* overflow: scroll; */
        overflow-x: hidden;
        overflow-y: hidden;
        
        width: 100vw;
        /* overflow-y: scroll; */
        /* scroll-snap-type: x mandatory; */
        /* scroll-snap-points-x: repeat(100vw); */
        /* scroll-snap-stop: always; */
        display: flex;
        align-items: start;
        flex-direction: row;
        
    }

    .md_file {
        position: relative;
        /* scroll-snap-align: middle; */
        display: flex;
        flex-direction: column;
        font-size: calc((1vw + 0.1rem) * 2);
        width: 80vw;
        min-width: 80vw;
        margin: 0;
        margin-left: 4em;
        padding-left: 0em;
        padding-right: 3em;
        overflow-y: scroll;
        overflow-x:none;
        max-height: 80dvh;
        height: 100dvh;
        animation: fadeInAnimation .4s linear forwards;
    }

    .navigation .md_file {
        display: flex !important;
        overflow-y: scroll;
        scroll-snap-align: middle;
        position: relative;
        width: 99dvw;
        left: 0;
        top: 0;
        padding-left: 1em;
        font-size: calc( ( 1vw + 0.1rem ) * 3 );
        border-right: none;
        animation: fadeInAnimation 1s linear forwards;
    }

    #swipe_info {
        display: flex;
        position: fixed;
        bottom: 2em;
        left: 50vw;
        transform: translate(-50%,0%);
        z-index: 101;
        font-size: 4em;
        background-color: #6e6e6e37;
        padding: 1em;
        border-radius: 1em;
        border: none;
        padding-top: 0.5em;
        padding-bottom: 1.5em;
        
        
    }

    iframe {
        width: auto;
        width: 60vw;
    }

    a, .link, .share-buttons {
        font-size: calc((1vw + 0.1rem) * 3);
        padding-bottom: 0.5em;
    }

    .folder {
        padding-bottom: 0.5em;
    }

        #slider {
            position: fixed;
            display: flex;
            flex-direction: row;
            top: 0;
            height: 100dvh;
            left: -100dvw;
            overflow: none;
            width: 200dvw;
        }
    
        @keyframes show_nav {
            from {
                left: -100dvw;
            }
            to {
                left: 0dvw;
            }
        }
    
        @keyframes show_content {
            from {
                left: 0dvw;
            }
            to {
                left: -100dvw;
            }
        }

    img {
        max-width: 80dvw;
    }
}

table {
    table {
        padding-top: 1em;
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
    }

    th,
    td {
        border: 1px solid;
        padding: 4px;
        text-align: left;
    }

    th {
        background-color: #2a35;
        font-size: 1em;
        color: #fff;
        font-weight: bold;
    }

    td {
        font-size: 1em;
    }

    tr:hover {
        /* color: #fff; */
        background-color: #e4e4c0;
    }
}
/* 
#link_to_external {
    position: fixed;
    bottom: 1em;
    right: 1em;
}
*/


.katex-display  {
    max-width: 100%;
    padding-bottom: 1em;
    overflow: scroll;
}


.favorite::after {
    content: " ★";
    color: rgba(209, 179, 9, 0.377)
}

/* .link:hover::after {
    color: gray;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    
} */



@keyframes move_left {
    from {
    background-position-x: 0vw;
    }
    to {
    background-position-x: 100vw;
    }
}

.unicorn {
    height: 4em;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.02;
}

.unicorn:hover {
    opacity: 0.8;
    /* animate opacity smothly */
          transition: 500ms linear; 
}

.info-box {
    border-radius: 1em; background-color: whitesmoke; padding: 1em;
}

.search {
    background-color: transparent;
    border: none;
    border-bottom: #a2a4aa 1px solid;
    margin-left: 2em;
    height: 1em;
    font-size: 1em;
    width: 6em;
    z-index: 10000;
    /* width: 1em; */
    align-self: center;
}

.search:focus {
    width: max-content;
    color: black !important;
    padding-right: 1.5em;
    outline: none;
}

.search-icon {
    height: 1em;
    top: 0.5em;
    width: 1em;
    transform: translate(-200%, 0%);
}

#results {
    padding-left: 1em;
    /* padding: 1em !important; */
    padding-bottom: 0.7em;
}
#results > li {
    /* make point invisible */
    /* list-style-type: none; */
    padding-left: 0.5em;
    padding: 0.1em;
    width: fit-content;
}

.bookmark {
    height: 1em;
    width: 1em;
    color: black;
    fill:rgba(92, 92, 92, 0.5);
}

.bookmark:hover {
    /* half fill */
    fill:rgb(62, 53, 53);
}

.svg-link {
    height: 2em;
    width: 2em;
    color: rgb(80, 42, 42) !important;
}

.share-buttons {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

.share-summary {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}



details.share-buttons summary::-webkit-details-marker {
  display:none;
}

details.share-buttons > summary {
  list-style: none;
}

*[open] > * > .show-if-closed {
    display: none !important;
}

.show-if-open {
    display: none;
}

*[open] > * > .show-if-open {
    display: block !important;
}

.close-x {
    color: red !important;
}