@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    /* --main-bg-color: rgb(217, 244, 189); */
        --main-bg-color: rgb(249, 249, 249);
    --pg-color: rgb(249, 249, 249);
    --text-color: rgb(59, 58, 58);
    /* --outline: rgb(211, 211, 142); */
    --outline: rgb(249, 249, 249);
    --link-light: blue;
    --link-dark:rgb(50, 0, 149);
    --folder: rgb(58, 58, 58);
    --title-color: black;
}





body {
    background-color: var(--main-bg-color);
        /* font-family: 'Fira Code', monospace; */
    font-size: calc(  1vw + 0.1rem );
    font-family: 'JetBrains Mono', monospace;
    color: var(--text-color);
    scrollbar-color: black;
    /* overflow: visible; */
    overflow-x: hidden;
    
}




::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f2f2f200;
}

::-webkit-scrollbar-track:hover {
    background: #f2f2f200;
}

::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    border-radius: 1px;
    border: 1px var(--pg-color) solid;
}

::-webkit-scrollbar-thumb:hover {
    background: #6E6E6E;
}

h1,h2,h3 {
    color: var(--title-color);
}



.md_file {
    background-color: var(--pg-color);
    width: 40em;
    padding: 1.2em;
    margin-top: 2em;
    margin-left: calc( ( 100dvw - 48em + 24em ) / 2 );
    margin-right: calc((100dvw - 40em - 24em ) / 2);
    border-right: 0.2em var(--outline) solid;
    border-bottom: 0.2em var(--outline) solid;
    /* min-height: 56em; */
    overflow-y: scroll;
    height: 100%;
}
.navigation {
    position: sticky;
    top: 0em;
    left:0;
}

/* .navigation .md_file {
    position: absolute;
    top: 1em;
    min-height: 0;
    overflow: scroll;
    width: 24em;
    margin: 0;  
    height: calc( 100vh - 3em );
    padding: 0.3em;
    margin-top: -1.5em;
} */

.navigation .md_file {
    position: fixed;
    top: 0em;
    min-height: 0;
    overflow: scroll;
    width: 24em;
    margin: 0;
    height: 100%;
    padding: 0.3em;
    padding-top: 1em;
    border-right: 3px rgb(92, 92, 92) solid;
    /* margin-top: -1.5em; */
    margin-left: -1em;
    padding-left: 2em;
}

.horizontal {
    display: flex;
    gap: 0;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    padding-left: 0.3em;
}

.folder {
    color: var(--folder);
}

button {
    font-family: 'JetBrains Mono', monospace;
}

h3 {
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
    color: var(--folder);
}

.link {
    color: var(--link-light);
    background-color: #6e6e6e00;
    border: none;
}

.folder, .link {
  cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.ur-here {
    font-style: italic;
    color: var(--link-dark);
}

.open:hover::after {
    content: "...";
}

.close:hover::after {
    content: " <";
}


.folder:empty {
    display: none;
}

img[src^="https://github.com/ollielynas/md-website/actions/workflows/static.yml/badge.svg"] {
    border: none;
}
img[src^="https://img.shields.io"] {
    height: 1.1em;
    width: auto;
    padding: 0;
    margin: 0;
    border: none;
}






img {
    width: 80%;
    margin: 1em;
    border: 2px rgba(0, 0, 0, 0.668) solid;
}

iframe {
    margin-top: 1em;
}

input:disabled, input:disabled + em {
    display: none;
}


code {
    font-family: 'Fira Code', monospace !important;
}


.back-fwd-button {
    position: absolute;
    top: 1em;
    z-index: 100;
}

#swipe_info {
    display: none;
}

a {
    background-color: #282a3500;
}


@media screen and (orientation:portrait) {
    body {
        /* overflow: scroll; */
        overflow-x: hidden;
        width: 100vw;
        overflow-y: scroll;
        scroll-snap-type: x mandatory;
        /* scroll-snap-points-x: repeat(100vw); */
        scroll-snap-stop: always;
        display: flex;
        align-items: start;
        flex-direction: row;
        
    }

    .md_file {
        position: relative;
        scroll-snap-align: middle;
        display: flex;
        flex-direction: column;
        font-size: calc((1vw + 0.1rem) * 2);
        width: 100vw;
        min-width: 80vw;
        padding-left: 0em;
        padding-right: 3em;
        overflow-y: scroll;
    }

    .navigation .md_file {
        overflow: scroll;
        scroll-snap-align: middle;
        position: relative;
        width: 90dvw;
        left: 0;
        top: 0;
        padding-left: 1em;
        font-size: calc( ( 1vw + 0.1rem ) * 3 );
        border-right: none;
    }

    #swipe_info {
        display: flex;
        position: fixed;
        bottom: 2em;
        left: 50vw;
        transform: translate(-50%,0%);
        z-index: 101;
        font-size: 4em;
        background-color: #6e6e6e37;
        padding: 1em;
        border-radius: 1em;
        border: none;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        
    }

    iframe {
        width: auto;
        width: 60vw;
    }

    a, .link {
        font-size: calc((1vw + 0.1rem) * 3);
        padding-bottom: 0.5em;
    }

    .folder {
        padding-bottom: 0.5em;
    }



}

table {
    table {
        padding-top: 1em;
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 4px;
        text-align: left;
    }

    th {
        background-color: #282a35;
        font-size: 1em;
        color: #fff;
        font-weight: bold;
    }

    td {
        font-size: 1em;
    }

    tr:hover {
        /* color: #fff; */
        background-color: #e4e4e4c0;
    }
    
}

