@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


:root {
    --main-bg-color: rgb(217, 244, 189);
    --pg-color: rgb(249, 249, 249);
    --text-color: black;
    --outline: rgb(211, 211, 142);
    --link-light: blue;
    --link-dark:rgb(50, 0, 149);
    --folder: rgb(58, 58, 58);

}
body {
    background-color: var(--main-bg-color);
        /* font-family: 'Fira Code', monospace; */
    font-size: calc(  1.2vw + 0.1rem );
    font-family: 'JetBrains Mono', monospace;
}


.md_file {
    background-color: var(--pg-color);
    width: 40em;
    padding: 1.2em;
    margin-left: calc( ( 100dvw - 40em + 24em ) / 2 );
    margin-right: calc((100dvw - 40em - 24em ) / 2);
    border-right: 0.2em var(--outline) solid;
    border-bottom: 0.2em var(--outline) solid;
    min-height: 56em;
}
.navigation {
    position: sticky;
    top: 0em;
}

.navigation .md_file {
    position: absolute;
    top: 1em;
    min-height: 0;
    overflow: scroll;
    width: 24em;
    margin: 0;  
    height: calc( 100vh - 3em );
    padding: 0.3em;
}

.horizontal {
    display: flex;
    gap: 0;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    padding-left: 0.3em;
}

.folder {
    color: var(--folder);
}

.link {
    color: var(--link-light);
}

.folder, .link {
  cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.ur-here {
    font-style: italic;
    color: var(--link-dark);
}

.open:hover::after {
    content: "...";
}

.close:hover::after {
    content: " <";
}

img[src^="https://img.shields.io"] {
    height: 1.1em;
    width: auto;
    padding: 0;
    margin: 0;
    border: none;
}




img {
    width: 80%;
    margin: 1em;
    border: 2px rgba(0, 0, 0, 0.668) solid;
}

iframe {
    margin-top: 1em;
}

input:disabled, input:disabled + em {
    display: none;
}

input {
    /* height: calc(1.2vw + 0.01rem); */

}
