

body {
    background-color: rgb(217, 244, 189);
}


.md_file {
    background-color: rgb(249, 249, 249);
    width: 40em;
    padding: 1.2em;
    margin-left: calc( ( 100dvw - 40em + 24em ) / 2 );
    margin-right: calc((100dvw - 40em - 24em ) / 2);
    border-right: 0.2em rgb(211, 211, 142) solid;
    border-bottom: 0.2em rgb(195, 195, 139) solid;
    min-height: 56em;
}
.navigation {
    position: sticky;
    top: 0em;
}

.navigation .md_file {
    position: absolute;
    top: 1em;
    min-height: 0;
    overflow: scroll;
    width: 24em;
    margin: 0;  
    height: calc( 100vh - 3em );
    padding: 0.3em;
}

.horizontal {
    display: flex;
    gap: 0;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    padding-left: 0.3em;
}

.folder {
    color: rgb(58, 58, 58);
}

.link {
    color: blue;
}

.link:hover {
    text-decoration: underline;
}

.ur-here {
    font-style: italic;
    color: rgb(50, 0, 149);
}

.open:hover::after {
    content: "...";
}

.close:hover::after {
    content: " <";
}

img {
    width: 80%;
    margin: 1em;
    border: 2px rgba(0, 0, 0, 0.668) solid;
}

iframe {
    margin-top: 1em;
}